.distribute-details-icon{
    color: orange;
}

.distribute-details-div{
    margin:  0 10%;
}

.distribute-details-div2{
    margin: 5% 10%;
}

@media (max-width:576px) {
    .distribute-details-div{
        margin: 0;
    }
    .distribute-details-div2{
        margin: 0;
    }
}