.key-features-h1{
    font-size: 3rem;
    margin: 5rem 0;
}

.key-features-card{
    margin:0 5%;
}

.key-features-card2{
    margin: -2rem 5% 5% 5%;
}

@media (max-width:576px) {
  .key-features-card{
    flex-wrap: wrap;
  }
  .key-features-card2{
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}

@media (max-width:1156px) {
    .key-features-card{
     flex-shrink: 1;
    }
}



